@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    .pagraph1 {
        font-family: 'Times New Roman';
        font-size: 18px;
        color: black;
        text-align: justify;
    }
</style>

<div>
    <p class="pagraph1">
        ORCA Project Description<br>

        The advent of technology has sprung the proliferation of tech companies in need of an expert consultant,
        or a high growth startup looking for assistance in a specialized job.

    </p>
</div>
